<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="images/logo.png">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="mailto:info@sew-ing.co.jp" target="_blank">
            <i class="fa fa-fw fa-4x fa-envelope"></i>
            <span class="detail"></span>
          </a>
        </li>
        <li class="active" style="padding-left: 10px;">
          <i class="fa fa-fw fa-4x fa-phone"></i>
          <span class="detail">0800-200-8737</span>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<div id="hello">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h1>三河木綿生地 刺し子小物</h1>
        <h2>愛知県の三河地方産の厚手で上部な木綿生地</h2>
      </div>
    </div>
  </div>
</div>
<div id="masoho">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 centered">
        <img src="images/tips_1.png" alt="三河木綿の歴史（刺子生地とは）">
      </div>
      <div class="col-lg-7 centered">
        <h3>三河木綿の歴史
        </h3>
        <p>三河木綿とは、愛知県東部(三河国)で織られた木綿布の事をいいます。
          <br>現在確認されている国産木綿の産地のでは 最も古い国となります。
          <br>
          <br>文献《日本後紀》では綿の伝来が西暦799年といわれており、
          <br>西暦1510年には奈良で三河木綿の名が見えるのをはじめ、
          <br>京都の貴族に贈答品されるなど、特産品として名を馳せています。
        </p>
      </div>
    </div>
  </div>
</div>
<div id="plainwhite">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 centered">
        <img src="images/tips_2.png" alt="消防反転としての三河木綿生地 刺子生地の特徴について">
      </div>
      <div class="col-lg-7 centered">
        <h3>消防半纏としての三河木綿生地
        </h3>
        <p>
          <b>江戸時代になると、消防半纏として三河木綿（刺子生地）は利用されてきました。</b>
          <br>
          <br>独特の生地の凹凸により優れた耐久性・耐火性・保湿性・肌触りの良さを持っており、
          <br>昔より火消しや、消防団の半纏として利用されていました。
          <br>
          <br>火事の多かった江戸の町の火消したちに、動きやすく引火しにくい
          <br>水をしっかりと含む、丈夫で着心地の良い刺子生地が使用されていました。
        </p>
      </div>
    </div>
  </div>
</div>
<div id="masoho">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 centered">
        <img src="images/tips_3.png" alt="三河木綿（刺子生地）で作られた、刺し子小物のご紹介">
      </div>
      <div class="col-lg-7 centered">
        <h3>三河木綿を使用した刺し子生地小物
        </h3>
        <p>そんな当時の特徴をそのままに、弊社でもっと身近なペンケースや
          <br>印鑑ケース、名刺入れなど様々な小物の開発・製造をしております。
          <br>
          <br>厚手の三河木綿生地を使用した刺し子小物ならではの風合いや手触りは、
          <b>手にとっていただいた方を必ず満足させる</b>商品であると自信があります。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row centered mt grid">
    <h3>そんなこだわりの刺し子生地を使用した小物をご用意しました。
    </h3>
    <div class="col-lg-4 col-md-4">
      <img src="images/sashiko/001.png" alt="刺し子小物 印鑑ケース">
    </div>
    <div class="col-lg-4 col-md-4">
      <img src="images/sashiko/003.png" alt="刺し子小物 ペンケース">
    </div>
    <div class="col-lg-4 col-md-4">
      <img src="images/sashiko/004.png" alt="刺し子小物 メガネケース">
    </div>
  </div>
  <div class="row centered mt grid">
    <div class="col-lg-4 col-md-4">
      <img src="images/sashiko/009.png" alt="刺し子織り 巾着型バッグ">
    </div>
    <div class="col-lg-4 col-md-4">
      <img src="images/sashiko/010.png" alt="和風・和柄 刺し子小物 風呂敷">
    </div>
    <div class="col-lg-4 col-md-4">
      <img src="images/sashiko/013.png" alt="和風・和柄 刺し子生地 肩掛けボディバッグ">
    </div>
  </div>
  <div class="centered myshop">
    <p class="lead">弊社の自社サイトで販売しております
    </p>
    <a href="http://www.delight-base.jp/SHOP/57207/57228/list.html">
      <img src="http://delight-base.jp/pic-labo/header_logo.gif" alt="デライトベース 自社販売サイト">
    </a>
    <br />
    <br />
    <br />
    <p class="lead">もちろん、Amazon.co.jpやYahoo!ショッピングでも販売しております
    </p>
    <a
      href="http://www.amazon.co.jp/s/ref=nb_sb_noss?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&url=me%3DA8D87RPQXGNAR&field-keywords=%E5%88%BA%E3%81%97%E5%AD%90">
      <img src="images/shop/amazon.png" alt="Amazon.co.jp デライトベース販売サイト" style="height: 50px;">
    </a>
    <a href="http://store.shopping.yahoo.co.jp/delight-base/search.html?p=%BB%C9%A4%B7%BB%D2">
      <img src="images/shop/yahoo.png" alt="Yahoo!ショッピング デライトベース販売サイト" style="height: 45px;">
    </a>
  </div>
</div>
<br />
<br />
<br />
<div class="container">
  <div class="row centered mt grid">
    <h3 style="margin: 30px 0 20px;">その他、OEM製作やオリジナル商品の製造・販売も承っております
    </h3>
    <div class="col-lg-6 col-md-6">
      <img src="images/sashiko/ORG1.png" style="opacity:1" alt="刺し子生地と帆前掛け生地を使用したミニ半纏・OEMグッズ">
    </div>
    <div class="col-lg-6 col-md-6">
      <img src="images/sashiko/ORG2.png" style="opacity:1" alt="刺し子生地と帆前掛け生地を使用したミニ半纏・OEMグッズ">
    </div>
  </div>
  <div id="social">
    <div class="container">
      <div class="row centered">
        <p>弊社企画の三河木綿を利用した刺し子生地小物は、まだ生まれて間もない商品です。
          <br>より多くの方に知っていただけるよう、当ページをお使いのSNSにて
          <br>共有していただけると、大変嬉しく思います。
          </h3>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="col-md-2 col-xs-4">
            <a
              href="http://twitter.com/share?url=https://sashiko-goods.com/&text=三河地方の三河木綿を使った、厚手で上部な刺し子生地小物を見たよ！https://sashiko-goods.com/">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <div class="col-md-2 col-xs-4">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.sashiko-goods.com">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
          <div class="col-md-2 col-xs-4">
            <a
              href="http://line.me/R/msg/text/?%E3%81%93%E3%81%A0%E3%82%8F%E3%82%8A%E3%81%AE%E4%B8%89%E6%B2%B3%E6%9C%A8%E7%B6%BF%20%E5%88%BA%E3%81%97%E5%AD%90%E7%94%9F%E5%9C%B0%E3%82%B0%E3%83%83%E3%82%BA">
              <i class="icon-line"></i>
            </a>
          </div>
          <div class="col-md-2 col-xs-4">
            <a href="http://b.hatena.ne.jp/append?http://www.sashiko-goods.com/">
              <i class="fa fa-hatena"></i>
            </a>
          </div>
          <div class="col-md-2 col-xs-4">
            <a
              href="javascript:var d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f='https://www.tumblr.com/widgets/share/tool',l=d.location,e=encodeURIComponent,p='?url='+e(l.href) +'&title='+e(d.title) +'&selection='+e(s) +'&shareSource=bookmarklet',u=f+p,sw=0,sd;try{sd =d.createElement('div');sd.style.height ='100px';sd.style.width='100px';sd.style.overflow='scroll';d.body.appendChild(sd);sw=sd.offsetWidth-sd.clientWidth;d.body.removeChild(sd);}catch(z){};try{if(!/^(.*.)?tumblr[^.]*$/.test(l.host))throw(0);tstbklt();}catch(z){a =function(){if(!w.open(u,'_blank','toolbar=0,resizable=0,status=1,scrollbars=1,width='+(540+sw)+',height=600'))l.href=u;};setTimeout(a,10);}void(0)">
              <i class="fa fa-tumblr"></i>
            </a>
          </div>
          <div class="col-md-2 col-xs-4">
            <a href="javascript: void(0)">
              <i class="icon-mixi"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /social -->
  <div id="f">
    <div class="container">
      <div class="row">
        <p>製造販売元:
          <a href="http://www.sew-ing.co.jp/">有限会社創ｉｎｇ</a>
          <br>販売店:
          <a href="http://www.delight-base.jp/">デライトベース</a>
        </p>
      </div>
    </div>
  </div>
</div>
